$primary-font: "IBM Plex Sans", sans-serif;

.pencil {
  display: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  margin-right: 60px;
}
.user {
  img {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    display: block;
  }

  p {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 28px;
    /* identical to box height */
    margin-top: 12px;

    color: #000000;
  }
}
.navbar {
  position: fixed;
  z-index: 22;
  height: 72px;
  width: 101vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  background: white;
  border-bottom: 1px solid #e0e0e0;

  .logoImage {
    position: relative;
    width: 162.57px;
    height: 24px;
    left: 72px;
  }
  .searchArea {
    display: flex;
    justify-content: center;
    .search-field {
      width: 360px;
      height: 42px;
      border-radius: 21px;
      background-color: #f2f2f2;
      justify-content: center;
      img {
        width: 16px;
      }
      input {
        border: none;
        background: transparent;
        font-weight: 500;
        font-size: 14px;
        color: #5c5c5c;

        font-family: $primary-font;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .buttonArea {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    #user-btn {
      width: max-content;
      padding: 5px;
      background: transparent;

      height: 72px;
      img {
        padding: 0;
        width: 36px;
      }
      button {
        background-color: transparent;
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
      }
    }
    .btn-crt {
      background: transparent;
      font-family: $primary-font;
      color: #2e2e2e;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */
      outline: none;
      text-align: right;
      span {
        color: blue;
      }
      &:focus {
        outline: none !important;
      }
    }
  }
}

.banner {
  height: 440px;

  background: url(../images/md-banner-image.png);
  height: 440px;
  width: 100%;
  &::before {
    height: 440px;
    width: 100%;
    content: "";
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }

  .content {
    position: relative;
    padding-top: 286px;
    margin-left: 200px;
    width: 378px;
    color: #ffffff;
    font-family: $primary-font;
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 47px;
    }
    .subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
    }
  }
}

.container {
  height: 100%;
  width: 100%;

  .control-bar {
    height: 88px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    .nav-list-area {
      margin-top: 47px;
      height: 50%;

      .list {
        height: 100%;
        list-style-type: none;
        align-items: flex-start;
        font-family: $primary-font;

        li {
          justify-content: center;
          padding-left: 10px;
          a {
            text-decoration: none;
            color: #8a8a8a;
            font-weight: 400;
            &:hover {
              color: black;
            }
          }
          .active {
            color: black;

            border-bottom-color: black;
          }
        }
      }
    }
    .nav-btns {
      height: 100%;
      padding-top: 40px;
      display: flex;
      .write-post-btn {
        width: 133px;
        height: 36px;
        background: #edeef0;
        border-radius: 4px;
        border-color: transparent;
        color: black;
        font-family: $primary-font;
        font-weight: 500;
      }
      .joint-grp-btn {
        width: 125px;
        height: 36px;
        background: #2f6ce5;
        border-radius: 4px;
        color: rgb(255, 255, 255);
        font-family: $primary-font;
        font-weight: 500;
        border-color: transparent;
        margin-left: 16px;
        img {
          width: 22px;
        }
      }
      .joint-grp-btn-clicked {
        margin-left: 16px;
        width: 125px;
        height: 36px;
        background: #ffffff;
        border: 0.8px solid #989899;
        box-sizing: border-box;
        border-radius: 4px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        color: #6a6a6b;
        img {
          width: 22px;
        }
      }
    }
  }

  .feed-area {
    width: 100%;
    padding-bottom: 50px;
    .card {
      margin-top: 20px;
      margin-bottom: 20px;
      border-radius: 4px 4px 0px 0px;
      font-family: $primary-font;
      .category-txt {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 23px;

        color: #000000;
      }
      .title-area {
        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 1.2em;
          line-height: 134.17%;

          color: #000000;
        }
        .dropdown {
          display: flex;
          padding: 0;
          .dropdown-toggle::after {
            content: none;
          }
          .card-btn {
            margin-left: auto;
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 134.17%;

        color: #5c5c5c;
      }
      .sub-area {
        .params {
          font-family: $primary-font;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 19px;
          color: #000000;
          .param1 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          img{
            width: 16px;
            padding: 2px;
          }
        }
        button {
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;

          text-align: center;
          height: 40px;

          color: #e56135;
          background: #ffffff;
          border: 0.7px solid #ced3dd;
          box-sizing: border-box;
          border-radius: 8px;
        }
      }
      .bottom-area {
        padding-left: 20px;

        padding-top: 20px;

        .views {
          padding: 0;
          display: flex;

          align-items: center;

          p {
            font-family: $primary-font;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            margin-top: auto;
            text-align: right;
            color: #525252;
            margin-left: auto;
          }
        }

        .share {
          display: flex;
          align-items: center;
          padding: 0;

          .share-btn {
            margin-left: auto;

            width: 42px;
            height: 36px;
            background: #edeef0;
            img{
              margin-bottom: 5px;

            }
          }
        }
      }
    }
  }
  .right-container {
    padding-left: 90px;
    width: 100%;
    .location-form {
      padding-top: 50px;
      .loc-form {
        border-bottom: 0.4px solid #b8b8b8;
        padding-bottom: 5px;
        input {
          font-family: $primary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;

          color: #000000;
          border: transparent;
          &:focus {
            outline: none !important;
          }
        }
        .pen-png {
          margin-left: auto;
          width: 8px;
        }
      }
      .notif {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        .col-12 {
          padding: 0;

          img {
            color: #000000;
            padding: 0;
            opacity: 0.5;
            margin-right: 5px;
          }
        }

        p {
          padding: 0;
          font-family: $primary-font;
          font-style: normal;
          font-weight: normal;
          font-size: 1vw;

          color: #000000;

          opacity: 0.5;
        }
      }
    }
    .followers-field {
      display: none;
      padding-top: 50px;
      width: 100%;
      height: 100px;
      .followers-title {
        img {
          margin-bottom: 3px;
        }
        font-family: $primary-font;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        color: #000000;
      }
      .followers-list-container {
        padding-top: 20px;
        width: 90%;
        ul {
          width: inherit;
          list-style: none;
          padding: 0;
          display: grid;
          grid-row-gap: 20px;
          li {
            display: flex;
            max-height: 40px;
            img {
              width: 3vw;
            }
            p {
              font-family: $primary-font;
              font-style: normal;
              font-weight: normal;
              font-size: 1vw;
              margin: auto;
              color: #000000;
              padding: 0;
              max-width: 19px;
              margin-left: 10px;
            }

            button {
              background: #edeef0;
              border-radius: 14px;
              border: transparent;
              margin-left: auto;
              font-family: $primary-font;
              font-style: normal;
              font-weight: normal;
              font-size: 1vw;
              margin: auto;
              color: #000000;
              margin-left: 50px;
              &:focus {
                outline: none !important;
                box-shadow: none !important;
              }
            }
            a {
              margin-left: auto;
              font-family: $primary-font;
              font-style: normal;
              font-weight: normal;
              font-size: 1vw;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .footer {
    width: 100%;
    height: 50px;
  }
}

// MODALS
.signup-modal {
  border-radius: 50px;
  .modal-content {
    .alert {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
    }
    .form-field {
      width: 100%;
      form {
        p {
          margin-top: 24px;
          font-family: $primary-font;
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 31px;
          color: #000000;
        }
        input {
          border-radius: 2px 2px 0px 0px;
          border: 1px solid #d9d9db;
          background: #f7f8fa;
          height: 46px;

          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 16px;
          color: #8a8a8a;
          &:focus {
            outline: none !important;
          }
        }
        button {
          margin-top: 20px;
          border-radius: 20px;
          font-family: $primary-font;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: #ffffff;
          height: 40px;
        }
      }
      .other-btns {
        margin-top: 17px;
        margin-left: 10px;
        margin-bottom: 20px;
        button {
          padding: 0px;
          margin-top: 8px;
          font-family: IBM Plex Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #000000;

          background: #ffffff;
          border: 0.6px solid #d9d9db;
          box-sizing: border-box;
          border-radius: 2px;
          height: 38px;
          img {
            width: 16px;
            padding-right: 3px;
          }
        }
      }
      .forget-p {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.008em;
        color: #000000;
      }
    }

    .poster {
      width: 100%;
      padding: 0;
      .image {
        padding: 0;
      }
      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        line-height: 17px;
        text-align: right;
        color: #3d3d3d;
      }
      .text2 {
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 16px;
        text-align: right;
        letter-spacing: -0.008em;
        color: #000000;
        opacity: 0.6;
      }
    }
  }
}

//-------------------------------------------------
@media only screen and (max-width: 980px) {
  .notif {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .mb-control-bar {
    display: none;
  }
  .nav-sm {
    display: none;
  }
}
// for mobiles-----------------------------------------------------------------------------------------------------------------------------------------
@media only screen and (max-width: 800px) {
  .nav-sm {
    width: 100%;
    height: 60px;
    background: transparent;
    position: fixed;
    z-index: 44;

    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.4458158263305322) 56%,
      rgba(0, 0, 0, 0.6587009803921569) 100%
    );
    button {
      background: transparent;
    }
    .bck-btn {
      border: none;
      svg {
        color: white;
      }
    }
    .rght-btn {
      align-items: flex-end;
      flex-direction: row-reverse;
      .join-grp {
        padding: 0;
        width: 76px;
        height: 35px;
        text-align: center;
        border: 0.8px solid #ffffff;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #ffffff;
      }
    }
  }
  .pencil {
    display: block;
    position: fixed;
    z-index: 22;
    width: 54px;
    height: 54px;
    position: fixed;
    bottom: 18px;
    right: 18px;
    button {
      background: transparent;
      border: none;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }
  }
  // MODALS
  .modal {
    .modal-sm {
      margin: 60% auto;

      .modal-content {
        .form-field {
          width: 100%;
          form {
            p {
              margin-top: 1px;

              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 23px;

              color: #000000;
            }
            button {
              margin-top: 20px;
              border-radius: 20px;
              font-family: $primary-font;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;
              text-align: center;
              color: #ffffff;
              height: 40px;
              width: 150px;
            }
            a {
              margin-top: 25px;

              font-family: $primary-font;
              font-style: normal;
              font-weight: 500;
              font-size: 13px;
              line-height: 17px;
              text-align: end;
              text-decoration-line: underline;
              color: #495057;
            }
          }
          .other-btns {
            margin-top: 2px;
            margin-bottom: 10px;
            button {
              margin-top: 5px;
              margin-bottom: 7px;
            }
            .terms {
              margin-top: 10px;
              font-family: $primary-font;
              font-style: normal;
              font-weight: normal;
              font-size: 11px;
              line-height: 16px;
              text-align: center;
              letter-spacing: -0.008em;
              margin: auto;
              color: #212529;
            }
          }
        }
      }
    }
  }

  // navbar
  .navbar {
    display: none;
  }
  .user {
    .img-field {
      margin-top: 10px;
    }
  }
  //banner
  .banner {
    height: 236px;

    background: url(../images/sm-banner-image.png);
    height: 236px;
    width: 100%;
    &::before {
      height: 236px;
      width: 100%;
      content: "";
      position: absolute;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.45) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
    }
    .content {
      position: relative;
      padding-top: 164px;
      margin-left: 16px;
      width: 230px;
      color: #ffffff;
      font-family: $primary-font;
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        height: 20px;
      }
      .subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;

        margin-bottom: 10px;
      }
    }
  }
  .control-bar {
    display: none;
  }
  .mb-control-bar {
    display: flex;
    height: 66px;
    width: 100%;
    align-items: center;
    padding: 0;
    .posts {
      .posts-txt {
        margin-left: 16px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;

        color: #212529;
      }
    }
    .btn-filter-area {
      padding: 0;
      display: flex;
      .filter-btn {
        margin-left: auto;
        width: 106px;
        height: 32px;

        background: #f1f3f5;
        border-radius: 4px;
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        border-color: transparent;
        /* identical to box height */

        color: #212529;
      }
    }
  }
  .container {
    .bottom-area {
      padding: 0;
      .user p::after {
        content: " 1.4k views";
        font-family: $primary-font;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
      }
      .views .view-txt {
        display: none;
      }
      .share-btn {
        padding: 2px;
        margin-bottom: 5px;
        width: 72px !important;

        &::after {
          content: "Share";
        }
      }
    }
    .right-container {
      display: none;
    }
  }
}
