.pencil {
  display: none;
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.dropdown-menu {
  margin-right: 60px;
}

.user img {
  width: 2.5em;
  height: 2.5em;
  position: absolute;
  display: block;
}

.user p {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: 28px;
  /* identical to box height */
  margin-top: 12px;
  color: #000000;
}

.navbar {
  position: fixed;
  z-index: 22;
  height: 72px;
  width: 101vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 !important;
  background: white;
  border-bottom: 1px solid #e0e0e0;
}

.navbar .logoImage {
  position: relative;
  width: 162.57px;
  height: 24px;
  left: 72px;
}

.navbar .searchArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .searchArea .search-field {
  width: 360px;
  height: 42px;
  border-radius: 21px;
  background-color: #f2f2f2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .searchArea .search-field img {
  width: 16px;
}

.navbar .searchArea .search-field input {
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  color: #5c5c5c;
  font-family: "IBM Plex Sans", sans-serif;
}

.navbar .searchArea .search-field input:focus {
  outline: none;
}

.navbar .buttonArea {
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .buttonArea #user-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  background: transparent;
  height: 72px;
}

.navbar .buttonArea #user-btn img {
  padding: 0;
  width: 36px;
}

.navbar .buttonArea #user-btn button {
  background-color: transparent;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.navbar .buttonArea .btn-crt {
  background: transparent;
  font-family: "IBM Plex Sans", sans-serif;
  color: #2e2e2e;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  outline: none;
  text-align: right;
}

.navbar .buttonArea .btn-crt span {
  color: blue;
}

.navbar .buttonArea .btn-crt:focus {
  outline: none !important;
}

.banner {
  height: 440px;
  background: url(../images/md-banner-image.png);
  height: 440px;
  width: 100%;
}

.banner::before {
  height: 440px;
  width: 100%;
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.banner .content {
  position: relative;
  padding-top: 286px;
  margin-left: 200px;
  width: 378px;
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
}

.banner .content .title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
}

.banner .content .subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.container {
  height: 100%;
  width: 100%;
}

.container .control-bar {
  height: 88px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.container .control-bar .nav-list-area {
  margin-top: 47px;
  height: 50%;
}

.container .control-bar .nav-list-area .list {
  height: 100%;
  list-style-type: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "IBM Plex Sans", sans-serif;
}

.container .control-bar .nav-list-area .list li {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}

.container .control-bar .nav-list-area .list li a {
  text-decoration: none;
  color: #8a8a8a;
  font-weight: 400;
}

.container .control-bar .nav-list-area .list li a:hover {
  color: black;
}

.container .control-bar .nav-list-area .list li .active {
  color: black;
  border-bottom-color: black;
}

.container .control-bar .nav-btns {
  height: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .control-bar .nav-btns .write-post-btn {
  width: 133px;
  height: 36px;
  background: #edeef0;
  border-radius: 4px;
  border-color: transparent;
  color: black;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.container .control-bar .nav-btns .joint-grp-btn {
  width: 125px;
  height: 36px;
  background: #2f6ce5;
  border-radius: 4px;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  border-color: transparent;
  margin-left: 16px;
}

.container .control-bar .nav-btns .joint-grp-btn img {
  width: 22px;
}

.container .feed-area {
  height: 500px;
  width: 100%;
  padding-bottom: 50px;
}

.container .feed-area .card {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px 4px 0px 0px;
  font-family: "IBM Plex Sans", sans-serif;
}

.container .feed-area .card .category-txt {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}

.container .feed-area .card .title-area .title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 134.17%;
  color: #000000;
}

.container .feed-area .card .title-area .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .feed-area .card .title-area .dropdown .dropdown-toggle::after {
  content: none;
}

.container .feed-area .card .title-area .dropdown .card-btn {
  margin-left: auto;
  background-color: transparent;
  border-color: transparent;
}

.container .feed-area .card .subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 134.17%;
  color: #5c5c5c;
}

.container .feed-area .card .sub-area .params {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000000;
}

.container .feed-area .card .sub-area .params .param1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container .feed-area .card .sub-area button {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  height: 40px;
  color: #e56135;
  background: #ffffff;
  border: 0.7px solid #ced3dd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.container .feed-area .card .bottom-area {
  padding-left: 20px;
  padding-top: 20px;
}

.container .feed-area .card .bottom-area .views {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .feed-area .card .bottom-area .views p {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: auto;
  text-align: right;
  color: #525252;
  margin-left: auto;
}

.container .feed-area .card .bottom-area .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.container .feed-area .card .bottom-area .share .share-btn {
  margin-left: auto;
  width: 42px;
  height: 36px;
  background: #edeef0;
}

.container .right-container {
  padding-left: 90px;
  width: 100%;
}

.container .right-container .location-form {
  padding-top: 50px;
}

.container .right-container .location-form .loc-form {
  border-bottom: 0.4px solid #b8b8b8;
  padding-bottom: 5px;
}

.container .right-container .location-form .loc-form input {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border: transparent;
}

.container .right-container .location-form .loc-form input:focus {
  outline: none !important;
}

.container .right-container .location-form .loc-form .pen-png {
  margin-left: auto;
  width: 8px;
}

.container .right-container .location-form .notif {
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
}

.container .right-container .location-form .notif .col-12 {
  padding: 0;
}

.container .right-container .location-form .notif .col-12 img {
  color: #000000;
  padding: 0;
  opacity: 0.5;
  margin-right: 5px;
}

.container .right-container .location-form .notif p {
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  color: #000000;
  opacity: 0.5;
}

.container .right-container .followers-field {
  padding-top: 50px;
  width: 100%;
  height: 100px;
}

.container .right-container .followers-field .followers-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.container .right-container .followers-field .followers-title img {
  margin-bottom: 3px;
}

.container .right-container .followers-field .followers-list-container {
  padding-top: 20px;
  width: 90%;
}

.container .right-container .followers-field .followers-list-container ul {
  width: inherit;
  list-style: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.container .right-container .followers-field .followers-list-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 40px;
}

.container .right-container .followers-field .followers-list-container ul li img {
  width: 3vw;
}

.container .right-container .followers-field .followers-list-container ul li p {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  margin: auto;
  color: #000000;
  padding: 0;
  max-width: 19px;
  margin-left: 10px;
}

.container .right-container .followers-field .followers-list-container ul li button {
  background: #edeef0;
  border-radius: 14px;
  border: transparent;
  margin-left: auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  margin: auto;
  color: #000000;
  margin-left: 50px;
}

.container .right-container .followers-field .followers-list-container ul li button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.container .right-container .followers-field .followers-list-container ul li a {
  margin-left: auto;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  padding: 0;
}

.signup-modal {
  border-radius: 50px;
}

.signup-modal .modal-content .alert {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.signup-modal .modal-content .form-field {
  width: 100%;
}

.signup-modal .modal-content .form-field form p {
  margin-top: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.signup-modal .modal-content .form-field form input {
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #d9d9db;
  background: #f7f8fa;
  height: 46px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #8a8a8a;
}

.signup-modal .modal-content .form-field form input:focus {
  outline: none !important;
}

.signup-modal .modal-content .form-field form button {
  margin-top: 20px;
  border-radius: 20px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  height: 40px;
}

.signup-modal .modal-content .form-field .other-btns {
  margin-top: 17px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.signup-modal .modal-content .form-field .other-btns button {
  padding: 0px;
  margin-top: 8px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  background: #ffffff;
  border: 0.6px solid #d9d9db;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  height: 38px;
}

.signup-modal .modal-content .form-field .other-btns button img {
  width: 16px;
  padding-right: 3px;
}

.signup-modal .modal-content .form-field .forget-p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.008em;
  color: #000000;
}

.signup-modal .modal-content .poster {
  width: 100%;
  padding: 0;
}

.signup-modal .modal-content .poster .image {
  padding: 0;
}

.signup-modal .modal-content .poster .text {
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 17px;
  text-align: right;
  color: #3d3d3d;
}

.signup-modal .modal-content .poster .text2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  text-align: right;
  letter-spacing: -0.008em;
  color: #000000;
  opacity: 0.6;
}

@media only screen and (min-width: 800px) {
  .mb-control-bar {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .pencil {
    display: block;
    position: fixed;
    z-index: 22;
    width: 54px;
    height: 54px;
    position: fixed;
    bottom: 18px;
    right: 18px;
  }
  .pencil button {
    background: transparent;
    border: none;
  }
  .pencil button:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .modal .modal-sm {
    margin: 60% auto;
  }
  .modal .modal-sm .modal-content .form-field {
    width: 100%;
  }
  .modal .modal-sm .modal-content .form-field form p {
    margin-top: 1px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }
  .modal .modal-sm .modal-content .form-field form button {
    margin-top: 20px;
    border-radius: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    height: 40px;
    width: 150px;
  }
  .modal .modal-sm .modal-content .form-field form a {
    margin-top: 25px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: end;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #495057;
  }
  .modal .modal-sm .modal-content .form-field .other-btns {
    margin-top: 2px;
    margin-bottom: 10px;
  }
  .modal .modal-sm .modal-content .form-field .other-btns button {
    margin-top: 5px;
    margin-bottom: 7px;
  }
  .modal .modal-sm .modal-content .form-field .other-btns .terms {
    margin-top: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.008em;
    margin: auto;
    color: #212529;
  }
  .navbar {
    display: none;
  }
  .user .img-field {
    margin-top: 10px;
  }
  .banner {
    height: 236px;
    background: url(../images/sm-banner-image.png);
    height: 236px;
    width: 100%;
  }
  .banner::before {
    height: 236px;
    width: 100%;
    content: "";
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
  }
  .banner .content {
    position: relative;
    padding-top: 164px;
    margin-left: 16px;
    width: 230px;
    color: #ffffff;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .banner .content .title {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    height: 20px;
  }
  .banner .content .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .control-bar {
    display: none;
  }
  .mb-control-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 66px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .mb-control-bar .posts .posts-txt {
    margin-left: 16px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #212529;
  }
  .mb-control-bar .btn-filter-area {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .mb-control-bar .btn-filter-area .filter-btn {
    margin-left: auto;
    width: 106px;
    height: 32px;
    background: #f1f3f5;
    border-radius: 4px;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    border-color: transparent;
    /* identical to box height */
    color: #212529;
  }
  .container .bottom-area {
    padding: 0;
  }
  .container .bottom-area .user p::after {
    content: " 1.4k views";
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .container .bottom-area .views .view-txt {
    display: none;
  }
  .container .bottom-area .share-btn {
    padding: 2px;
    margin-bottom: 5px;
    width: 72px !important;
  }
  .container .bottom-area .share-btn::after {
    content: "Share";
  }
  .container .right-container {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */